.promotions-container-wrapper {
  display: flex;
  justify-content: center;
  padding: 4rem 1rem;
}

.promotions-container {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* ZX9 SPEAKER - Main Product */
.main-product {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 3rem;
  background-color: #d87d4a;
  border-radius: 8px;
  color: white;
}

.main-product-img {
  width: 250px;
  height: auto;
}

.main-product-content {
  max-width: 400px;
}

.main-product-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.main-product-content p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.main-product-content button {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

/* Second Prodcut - ZX7  */
.second-product {
  background-color: #f1f1f1;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  
  gap: 2rem;
  height: 300px;

  .second-product-img {
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    flex: 1;
  }

  .second-product-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin-left: 3rem;

    h3 {
      font-size: 2.5rem;
      font-weight: 600;
    }

    .outline {
      border: 1px solid #d87d4a;
      background: transparent;
      padding: 0.8rem 1.5rem;
      font-weight: bold;
      margin-top: 1.5rem;
      margin-left: 1.5rem;
      width: 100%;
      max-width: 200px;
      transition: all 0.2s;
      display: inline-block;
    }
    .outline:hover {
    border: 1px solid white;
    background-color: #d87d4a;
    color: white;
    cursor: pointer;
    }
  }
}


.third-product-wrapper {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  height: 300px;
}

.third-product-img,
.third-product-content {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
}

.third-product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.third-product-content {
  background-color: #f1f1f1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.third-product-content h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

a.outline {
  margin-left: 4rem;
  padding: 0.8rem 1.5rem;
  border: 1px solid #d87d4a;
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: inline-block;
  transition: all 0.2s;
  width: 100%;
  max-width: 200px;
  text-align: center;
}

a.outline:hover {
  border: 1px solid white;
  background-color: #d87d4a;
  color: white;
  cursor: pointer;
}
