
<section class="promotions-container-wrapper">
    <div class="promotions-container" >

      <!-- main & first product: ZX9 SPEAKER -->
      <div class="main-product">
          <img  [src]="promotionsProducts[0].imageUrl" [alt]="promotionsProducts[0].alt" class="main-product-img"/>
          <div class="main-product-content">
          <h2>{{ promotionsProducts[0].title }}</h2>
          <p>{{ promotionsProducts[0].description }}</p>
          <button >SEE PRODUCT</button>
          </div>
      </div>

      <!-- second product:  -->
      <div class="second-product">
        <div class="second-product-content">
          <h3>{{ promotionsProducts[1].title }}</h3>
          <button class="outline">SEE PRODUCT</button>
        </div>
          <img [src]="promotionsProducts[1].imageUrl" [alt]="promotionsProducts[1].alt" class="second-product-img" />
      </div>

      <!-- third product: YX1 EARPHONES -->
      <div class="third-product-wrapper">
        <div class="third-product-img">
          <img [src]="promotionsProducts[2].imageUrl"[alt]="promotionsProducts[2].alt"/>
        </div>
        <div class="third-product-content">
          <h3>{{ promotionsProducts[2].title }}</h3>
          <a class="outline">SEE PRODUCT</a>
        </div>
      </div>
  </div>
</section>
