
<section class="promotions-container-wrapper">
    <div class="promotions-container" >

      <!-- main & first product: ZX9 SPEAKER -->
      <div class="main-product" *ngIf="promotionsProducts != null" >
          <img  src="3D_Speaker-image.png"  class="main-product-img"/>
          <div class="main-product-content">
          <h2>{{ promotionsProducts![0].name || 'Product Name'}}</h2>
          <p>{{ promotionsProducts![0].description }}</p>
          <button (click)="viewProduct(promotionsProducts![0])">SEE PRODUCT</button>
          </div>
      </div>

      <!-- second product:  -->
      <div class="second-product" *ngIf="promotionsProducts != null">
        <div class="second-product-content">
          <h3>{{ promotionsProducts![1].name }}</h3>
          <button class="outline" (click)="viewProduct(promotionsProducts![1])">SEE PRODUCT</button>
        </div>
          <img src="speacker-img.png" class="second-product-img" />
      </div>

      <!-- third product: YX1 EARPHONES -->
      <div class="third-product-wrapper" *ngIf="promotionsProducts != null">
        <div class="third-product-img">
          <img src="earphone-cat-img-bg.png"/>
        </div>
        <div class="third-product-content">
          <h3>{{ promotionsProducts![2].name }}</h3>
          <button class="outline" (click)="viewProduct(promotionsProducts![2])">SEE PRODUCT</button>
        </div>
      </div>
  </div>
</section>
