<footer class="bg-black text-white py-5 mt-5">
  <div class="container">
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div class="mb-4 mb-md-0">
        <div class="logo fw-bold fs-4 mb-3">audiophile</div>
        <p class="footer-text" style="max-width: 400px;">
          Audiophile is an all in one stop to fulfill your audio needs. We're a small team of music lovers and sound specialists who are devoted to helping you get the most out of personal audio. Come and visit our demo facility - we’re open 7 days a week.
        </p>
      </div>
      <div>
        <nav class="d-flex flex-column flex-md-row gap-3 mb-4">
          <a routerLink="/" class="text-white text-decoration-none">Home</a>
          <a routerLink="/category/headphones" class="text-white text-decoration-none">Headphones</a>
          <a routerLink="/category/speakers" class="text-white text-decoration-none">Speakers</a>
          <a routerLink="/category/earphones" class="text-white text-decoration-none">Earphones</a>
        </nav>
        <div class="d-flex gap-3">
          <a href="#" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
          <a href="#" class="text-white"><i class="fab fa-twitter fa-lg"></i></a>
          <a href="#" class="text-white"><i class="fab fa-instagram fa-lg"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-text">Copyright 2025. All Rights Reserved</div>
  </div>
</footer>
