<div class="product-container">
    <div class="product-gallery">
        <figure class="main-image">
            <img src="3D_Speaker-image.png" id="mainProductImg" class="cover-image">
        </figure>
    </div>
    <div class="product-details" *ngIf="product != null">
        <p class="company-name">COMPANY NAME</p>
        <h1 class="product-title"> {{product.name}} </h1>
        <p class="product-desc">Those low-profile sneakers are your perfect casual wear companion. Featuring a durable rubber</p>
        <h1 class="product-price">250$</h1>
        <div class="add-cart-row">
            <div class="items-count"> 
                <img src="icon-plus.png" class="increment-icon">
                <h1 id="itemCount"> 0 </h1>
                <img src="icon-minus.png" class="decrement-icon">
            </div>
            <button class="add-cart-btn" id="addToCart">
                <img src="icon-cart.png" class="add-cart-icon">
                <p class="add-cart-txt">Add to cart</p>
            </button>
        </div>
    </div>
</div>