.company-name {
    font-size: 15px;
    color: grey;
    font-weight: 500;
    letter-spacing: 3px;
} 
.product-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}
.product-desc {
    font-size: 16px;
    color: #555;
    margin-bottom: 25px;
    line-height: 1.6;
}
.product-price {
    font-size: 24px;
    font-weight: 700;
    color: #222;
}
/* ! ## BODY [Adding to cart] ## */
.add-cart-row {
    display: flex;
    gap: 15px;
    margin-top: 50px;
}
.items-count {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(223, 64%, 98%);
    color: hsl(220, 13%, 13%);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    opacity: 1;
    padding: 0 solid transparent 15px;
}
.increment-icon, .decrement-icon {
    color: hsl(26, 100%, 55%);
    opacity: 100%;
    cursor: pointer;
}
#itemCount {
    font-size: 25px;
    font-weight: 500;
}


.add-cart-icon {
    color: #222;
    width: 20px;
    height: 20px;
    margin-right: 10%;
}
.cart-btn-wrapper {
    /* margin-left: 4rem; */
    border-radius: 5px;
    display: flex;
    padding: 0.8rem 1.5rem;
    border: 1px solid #d87d4a;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #222;
    
    /* display: inline-block; */
    transition: all 0.2s;
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 50px;
    text-align: center;
}

.cart-btn-wrapper:hover {
    border: 0px solid white;
    background-color: #d87d4a;
    color: white;
    cursor: pointer;
}

.product-wrapper {
    width: 90%;
    justify-self: center;
    margin-top: 7rem;
    
}

/* Suggested products */
.suggested-products-scroll {
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    height: 350px;
}

.suggested-card {
    margin-top: 1rem;
    width: 300px;
    min-width: 200px;
    height: 300px;
    scroll-snap-align: start;
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
    transition: transform 0.2s ease;
}

.suggested-card:hover {
    transform: scale(1.03);
}

.suggested-img {
    height: 140px;
    object-fit: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.customized-card {
    justify-items: center;
}

.outline {
    margin-left: 2rem;
    padding: 0.8rem 1.5rem;
    border: 1px solid #d87d4a;
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: inline-block;
    transition: all 0.2s;
    width: 100%;
    max-width: 200px;
    text-align: center;
}

.outline:hover {
    border: 1px solid white;
    background-color: #d87d4a;
    color: white;
    cursor: pointer;
}
