<!-- Cuffie che ruotano (XX99) -->
<div class="xx99-animation-container">
  <!-- <ng-lottie [options]="xx99AnimationOptions" style="width: 300px; height: 300px;"></ng-lottie> -->
</div>

<!-- Categoria Earphones -->
<div class="earphones-animation-container">
  <!-- <ng-lottie [options]="earphonesAnimationOptions" style="width: 300px; height: 300px;"></ng-lottie> -->
</div>

<!-- Speaker che si evidenzia -->
<div class="speaker-animation-container">
  <!-- <ng-lottie [options]="speakerAnimationOptions" style="width: 350px; height: 350px;"></ng-lottie> -->
</div>