<section class="hero-section d-flex align-items-center text-white">
  <div class="container">
    <div class="row align-items-center">
      
      <!-- Left Column: Testo -->
      <div class="col-md-6 text-left">
        <p class="new-product">NEW PRODUCT</p>
        <h1 class="hero-title">XX99 MARK II <br> HEADPHONES</h1>
        <p class="hero-description">
          Experience natural, lifelike audio and exceptional build quality made for the passionate music enthusiast.
        </p>
        <button class="btn btn-warning text-uppercase px-4 py-2">See Product</button>
      </div>

      <!-- Right Column: Immagine -->
        <div class="col-md-6 text-center">
            <div class="hero-image-wrapper">
                <div class="circle-bg"></div>
                <img src="XX99-product-image.png" class="hero-image" alt="XX99 Mark II Headphones">
            </div>
        </div>
    </div>
  </div>
</section>

<!-- Categories Section -->
<section class="categories-section text-center container my-5 category-container">
     <div class="row justify-content-center">
    <div class="col-md-4" *ngFor="let cat of categories">
      <div class="category-card" (click)="navigateToCategory(cat.title)" >
        <div class="category-image">
          <img [src]="cat.image" alt="{{cat.title}}">
        </div>
        <div class="category-title">{{ cat.title }}</div>
        <div class="shop-link">
          Shop
          <span class="arrow">&rarr;</span>
        </div>
      </div>
    </div>

        <!-- Speakers
        <div class="category-item text-center">
          <div class="category-image">
            <img src="" alt="Headphones">
          </div>
          <h3 class="category-title">HEADPHONES</h3>
          <p class="shop-link">
            SHOP <span class="arrow">&rarr;</span>
          </p>
        </div>

        Earphones 
        <div class="category-item text-center">
          <div class="category-image">
            <img src="" alt="Headphones">
          </div>
          <h3 class="category-title">HEADPHONES</h3>
          <p class="shop-link">
            SHOP <span class="arrow">&rarr;</span>
          </p>
        </div> -->
      </div>
    <!-- </div> -->
</section>

<!-- Promotions Sections -->
 <app-promotions></app-promotions>

 <!-- About Section -->
  <app-about></app-about>