<header class="main-header fixed-top">
  <div class="container d-flex align-items-center justify-content-between py-3">
    <a routerLink="/" class="logo d-flex align-items-center gap-2 text-decoration-none text-white" (click)="navigateToHome()">
      <img src="main-logo.png" alt="Audiophile Logo" class="logo-img" />
      <span class="fw-bold fs-4">audiophile</span>
    </a>

    <nav class="d-flex gap-4 text-uppercase">
      <a routerLink="/" routerLinkActive="active" class="nav-link"  (click)="navigateToHome()">Home</a>
      <a routerLink="/category/headphones" routerLinkActive="active" class="nav-link"  (click)="navigateToCategory('headphones')">Headphones</a>
      <a routerLink="/category/speakers" routerLinkActive="active" class="nav-link"  (click)="navigateToCategory('speakers')">Speakers</a>
      <a routerLink="/category/earphones" routerLinkActive="active" class="nav-link"  (click)="navigateToCategory('earphones')">Earphones</a>
    </nav>

    <a routerLink="/cart" class="text-white">
      <i class="fas fa-shopping-cart fa-lg"></i>
    </a>
  </div>
</header>
