<header class="main-header fixed-top">
  <div class="container d-flex align-items-center justify-content-between py-3">
    <a routerLink="/" class="logo d-flex align-items-center gap-2 text-decoration-none text-white" (click)="navigateToHome()">
      <img src="main-logo.png" alt="Audiophile Logo" class="logo-img" />
      <span class="fw-bold fs-4">audiophile</span>
    </a>

    <nav class="d-flex gap-4 text-uppercase">
      <a 
        routerLink="/" 
        class="nav-link" 
        (click)="navigateToHome()"
      >Home</a>
      <a 
        routerLink="/category/headphones" 
        class="nav-link" 
        [class.active]="isActiveCategory('headphones')"
        (click)="navigateToCategory('headphones')"
      >Headphones</a>
      <a 
        routerLink="/category/speakers" 
        class="nav-link" 
        [class.active]="isActiveCategory('speakers')"
        (click)="navigateToCategory('speakers')"
      >Speakers</a>
      <a 
        routerLink="/category/earphones"  
        class="nav-link" 
        (click)="navigateToCategory('earphones')"
        [class.active]="isActiveCategory('earphones')"
      >Earphones</a>
    </nav>
    <a routerLink="/cart" class="text-white cart-icon" #cartIcon>
      <i class="fas fa-shopping-cart fa-lg"></i>
    </a>

    <div class="cart-icon" id="cartIcon" (mouseenter)="showCart()" (mouseleave)="hideCart()">
      <img src="icon-cart.png">
      <span *ngIf="totalItemsCount > 0">{{ totalItemsCount }}</span>

      <div class="cart-popup" *ngIf="cartVisible">
        <div *ngFor="let item of cartItems">
          <p>{{ item.product.name }} x{{ item.quantity }}</p>
          <p>{{ item.product.price * item.quantity }} $</p>
        </div>
        <p class="fw-bold">Total: {{ totalPrice }} $</p>
      </div>
    </div>

  </div>
</header>
